.bg-img1 {
  height: 600px;
  background-position: center;
  background-size: cover;
  background-image: url(img/slide1.jpg);
}

.bg-img2 {
  height: 600px;
  background-position: center;
  background-size: cover;
  background-image: url(img/slide2.jpg);
}

.bg-img3 {
  height: 600px;
  background-position: center;
  background-size: cover;
  background-image: url(img/slide3.jpg);
}
